includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - config/
        - routes/
        - database/
        - tests/

    level: 6

    parallel:
        maximumNumberOfProcesses: 4
        jobSize: 20

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: larastan.noModelMake
        - '#^Call to an undefined method Mockery\\LegacyMockInterface::withArgs\(\)#'
        - '#^Call to an undefined method Mockery\\LegacyMockInterface::atleast\(\)#'
        - '#^Call to an undefined method Mockery\\LegacyMockInterface::once\(\)#'
        - '#^Call to an undefined method Mockery\\LegacyMockInterface::with\(\)#'
        - '#^Call to an undefined method Mockery\\ExpectationInterface|Mockery\\HigherOrderMessage::once\(\)#'
        - '#^Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator::through\(\)#'
        - '#^Call to an undefined method Illuminate\\Contracts\\Pagination\\LengthAwarePaginator::getCollection\(\)#'
        - '#^Call to an undefined static method Illuminate\\Contracts\\Validation\\Validator::make\(\)#'
        - '#Access to an undefined property App\\Services\\Tree\\TreeModelInterface::\$[a-zA-Z0-9_]+#'
        - '#Call to an undefined method App\\Services\\Tree\\TreeModelInterface::[a-zA-Z0-9_]+#'

    reportUnmatchedIgnoredErrors: false
